body {
    font-size: 16px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    color: black;
}

/** HEADER **/
#header-nav {
    background-color: #99ddff;
    border-radius: 0;
    border: 0;
}

.col-md-12 h1 {
    text-align: center;
    margin: auto;
}

.food {  
    background-color: #ffe6ff;
    border: 2px solid #e600e6;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.title {
    text-align: center;
    font-size: 2em;
}

#nav-list {
    text-align: center;
}
.navbar-brand {
    margin:auto;
    position: absolute;
    font-size: 1.8em; 
}

